.row
  h1 Dodaj Artykuł
  =form_for(@article) do |f|
    =render 'articles/error_messages'
    =f.label :title
    =f.text_field :title
    =f.label :abstract
    =f.text_area :abstract
    =f.label :content
    =f.text_area :content
    =collection_select(:articles, :category_id, Category.all, :id, :name)
    =collection_select(:articles, :admin_id, Admin.all, :id, :email)
    =f.submit 'Dodaj Artykuł'

